@media screen and (max-width: 1470px) {
    .wrapper {
        width: 100%;
        padding: 0;
    }

    section:not(.main-slider) .wrapper {
        padding: 0 25px;
        box-sizing: border-box;
    }

    .header-logo__contacts {
        padding: 15px 25px;
    }

    .sales-slider__content .item img,
    .right-products .item img,
    .buywith-slider__content .item img {
        height: 250px;
    }
}

@media screen and (max-width: 1152px) {

    .brands-products .item {
        margin-right: 15px !important;
        margin-bottom: 15px !important;
        width: calc(1 / 3 * 100% - (1 - 1 / 3) * 15px) !important;
    }

    .brands-products .item:nth-child(3n) {
        margin-right: 0 !important;
    }



    .contacts-page__content--item {
        width: 33%;
    }

    .right-filter__chips {
        flex-wrap: wrap;
    }

    .right-products .item,
    .right-products .item:nth-child(3n) {
        margin: 0;
        margin-right: 15px;
        margin-bottom: 15px;
        width: calc(1 / 2 * 100% - (1 - 1 / 2) * 15px);
    }

    .right-products .item:nth-child(2n) {
        margin-right: 0;
    }

    .catalog-page .left {
        width: 30%;
    }

    .catalog-page .right {
        width: 67%;
    }

    .catalog-page .left-block {
        position: static;
    }

    .right-products .item,
    .right-products .item:nth-child(2n) {
        margin: 0;
        margin-right: 15px;
        margin-bottom: 15px;
        width: calc(1 / 3 * 100% - (1 - 1 / 3) * 15px);
    }

    .right-products .item:nth-child(3n) {
        margin-right: 0px;
        width: calc(1 / 3 * 100% - (1 - 1 / 3) * 15px);
    }

}

@media screen and (max-width: 1000px) {

    .header-menu__catalog-popup--items li {
        width: 25%;
    }

    .product-page__content {
        flex-wrap: wrap;
    }

    .product-page__content-left {
        max-width: 400px;
        margin: 0 auto;
    }

    .product-page__content-left,
    .product-page__content-right {
        width: 100%;
    }

    .right-products .item,
    .right-products .item:nth-child(2n),
    .right-products .item:nth-child(3n) {
        margin: 0;
        margin-right: 15px;
        margin-bottom: 15px;
        width: calc(1 / 3 * 100% - (1 - 1 / 3) * 15px);
        box-sizing: border-box;
    }

    .right-products .item:nth-child(3n) {
        margin-right: 0;
    }

    .catalog-page .left,
    .catalog-page .right {
        width: 100%;
    }

    .catalog-page .left-block {
        display: flex;
        flex-wrap: wrap;
    }

    .catalog-page .left-block__item .content {
        justify-content: flex-start;
    }

    .catalog-page .left-block__item.brands .container {
        width: 24%;
        margin: 15px 0;
    }

    .catalog-page .left-block__item.categories .container {
        width: 33%;
    }

    .catalog-page .left-block__item {
        width: 100%;
    }

    .apply-btn {
        margin-left: auto;
    }

    .catalog-page .left-block__item.price input {
        width: 20%;
        margin-right: 15px;
    }

    .left-block-title {
        padding: 15px 0;
        display: block;
        position: relative;
        width: 100%;
    }

    .catalog-page .left-block {
        padding: 20px;
    }

    .catalog-page .left-block__item:not(.categories) .content {
        display: none;
    }

    .left-block__item .title {
        position: relative;
    }

    .left-block__item:not(.categories) .title::after {
        content: "";
        display: block;
        width: 20px;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background: url("../img/next.svg");
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.5s ease;
    }

    .left-block__item:not(.categories) .title.active::after {
        transform: rotate(90deg);
    }

    .left-block__item .content.active {
        display: flex !important;
    }


}

@media screen and (max-width: 900px) {

    .sales-slider__content .item img,
    .right-products .item img,
    .buywith-slider__content .item img {
        height: 200px;
    }

    .single-page .inner {
        padding: 40px 15px 90px 15px;
    }

    .footer-content__top,
    .footer-content__bottom {
        padding: 30px 80px;
    }

    .products-slider__items .item-name {
        font-size: 17px;
    }

    .advantages-items__content .item {
        width: 30%;
    }


    .products-slider__items .item,
    .products-slider__items .item:nth-child(4n),
    .header-menu__catalog-popup .item,
    .header-menu__catalog-popup .item:nth-child(4n) {
        margin-right: 15px;
        margin-bottom: 15px;
        width: calc(1 / 3 * 100% - (1 - 1 / 3) * 15px);
    }

    .products-slider__items .item:nth-child(3n),
    .header-menu__catalog-popup .item:nth-child(3n) {
        margin-right: 0;
    }

    .right-products .item,
    .right-products .item:nth-child(4n),
    .right-products .item:nth-child(3n) {
        margin: 0;
        margin-right: 15px;
        margin-bottom: 15px;
        width: calc(1 / 2 * 100% - (1 - 1 / 2) * 15px);
    }


    .right-products .item:nth-child(2n) {
        margin-right: 0px;
        width: calc(1 / 2 * 100% - (1 - 1 / 2) * 15px);
    }

    .brand-descrition {
        padding-bottom: 50px;
        line-height: 24px;
        font-size: 15px;
    }

}

@media screen and (max-width: 860px) {
    .brands-products .item {
        margin-right: 15px !important;
        margin-bottom: 15px !important;
        width: calc(1 / 2 * 100% - (1 - 1 / 2) * 15px) !important;
    }

    .brands-products .item:nth-child(2n) {
        margin-right: 0 !important;
    }
}

@media screen and (max-width:768px) {

    .right-filter__alphabet-letters {
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .header-menu__catalog-popup.opened {
        top: calc(100% - 65px);
        height: calc(100vh - 162px);
        padding-bottom: 40px !important;
    }

    .header-menu__catalog-popup--items li {
        width: 33%;
    }

    .contacts-page__content--item {
        width: 46%;
    }

    .advantages-items__content .item {
        width: 48%;
        margin-bottom: 25px;
    }

    .payment-page p.title,
    .payment-page ol li,
    .payment-page p.top {
        font-size: 14px;
        line-height: 22px;
    }

    .payment-page p.title {
        margin: 20px 0;
    }

    header .header-menu,
    .footer-content__top,
    .footer-content__bottom,
    .header-menu__catalog-popup.opened {
        padding: 25px;
    }



    .section-h {
        font-size: 20px;
    }

    .footer-content__top,
    .footer-content__bottom {
        padding: 30px 40px;
    }

    .sales-slider__content .item-name {
        font-size: 14px;
    }

    .delivery-page__content .left,
    .delivery-page__content .right {
        width: 100%;
    }

    .delivery-page__content .price-list {
        max-width: 100%;
    }

    .delivery-page__content .right img {
        width: 50%;
        height: auto;
        display: block;
        margin-left: auto;
        margin: 0 auto;
    }

    .delivery-page__content .pickup-text {
        padding-top: 20px;
    }
}

@media screen and (max-width:700px) {

    .header-menu__mobile.opened {
        height: 100vh;
        overflow-y: scroll;
        box-sizing: border-box;
        padding-bottom: 40px;


    }

    .header-menu__mobile {
        background: #43a047;
        z-index: 101;
    }

    .header-menu__catalog-popup.opened {
        height: calc(100vh - 101px);
        overflow-y: scroll;
        padding-bottom: 40px;
        box-sizing: border-box;
        top: calc(100%);
    }






    .breadcrumbs ul li {
        margin-bottom: 10px;
    }

    /* .m-cat-tgl {
        position: relative;
    }

    .m-cat-tgl::after {
        display: block;
        content: '';
        height: 22px;
        width: 20px;
        background-image: url(../img/next.svg);
        background-size: 12px;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 10px;
        background-position: center;
    } */

    /* .m-cat-ul li {
        padding: 10px;
    } */



    .right-filter__chips a {
        font-size: 14px;
    }

    .right-products .item,
    .right-products .item:nth-child(2n),
    .right-products .item:nth-child(3n) {
        width: calc(1 / 2 * 100% - (1 - 1 / 2) * 15px);
        margin-right: 15px;
    }

    .right-products .item:nth-child(2n) {
        margin-right: 0px;
    }

    /* .header-menu__mobile>ul>li:first-child {
        position: relative;
        padding-right: 20px;
    }

    .header-menu__mobile .cat-m::after {
        content: "";
        display: block;
        width: 20px;
        height: 100%;
        background: url(../img/next.svg);
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0;
    } */


    .header-menu__mobile {
        display: none;
        padding: 25px;
    }

    .header-menu__mobile .ul-sub {
        display: none;
    }

    .header-menu__mobile>ul>li a {
        padding: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .header-menu__mobile>ul>li a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        display: block;
    }

    .header-menu__mobile .head {
        height: calc(101px - 30px);
        display: flex;
        align-items: center;
    }

    .header-menu__mobile .head img {
        width: 28px;
        height: 20px;
    }

    .header-menu__mobile {
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
    }



    .header-menu__mobile.opened {

        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    header {

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 100;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.19), 0 0px 6px rgba(0, 0, 0, 0.23);
    }

    body {
        padding-top: 101px;
    }

    .header-logo__contacts .logo {
        margin: 0 auto;
    }

    header .header-menu {
        padding: 0;
        background: none;
    }

    .mobile-toggle {
        display: flex !important;
        flex-direction: column;
    }

    .mobile-toggle span {
        background: #43a047;
        height: 3px;
        width: 28px;
        display: block;
        border-radius: 3px;

    }

    .mobile-toggle span:nth-child(2) {
        margin: 7px 0;
    }

    header .socials {
        display: none;
    }

    .header-menu__mobile .socials {
        display: flex;
        padding: 20px 0;
        justify-content: center;
    }

    header .callback-btn {
        text-indent: -999px;
        border-radius: 50%;
        background-image: url(../img/phone-wh.svg);
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center;
        width: 48px;
        height: 48px;
        box-sizing: border-box;

    }


    header .contact-phone a {
        display: none;
    }

    .header-menu__main ul {
        display: none;
    }

    .products-slider__items .item,
    .products-slider__items .item:nth-child(4n),
    .products-slider__items .item:nth-child(3n),
    .header-menu__catalog-popup .item,
    .header-menu__catalog-popup .item:nth-child(4n),
    .header-menu__catalog-popup .item:nth-child(3n) {
        margin-right: 15px;
        margin-bottom: 15px;
        width: calc(1 / 2 * 100% - (1 - 1 / 2) * 15px);
    }

    .products-slider__items .item:nth-child(2n),
    .header-menu__catalog-popup .item:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (max-width:576px) {
    .brands-products .item {
        margin-right: 0px !important;
        margin-bottom: 15px !important;
        width: 100% !important;
    }
}

@media screen and (max-width:550px) {



    .header-menu__catalog-popup--items li {
        width: 46%;
        font-size: 13px;
    }

    .header-menu__catalog-popup--items li a {
        font-size: 13px;
    }

    .callback-btn.contact {
        margin-top: 20px;
    }

    .sales-slider__content .item img,
    .right-products .item img,
    .buywith-slider__content .item img {
        height: 300px;
    }

    .contacts-page__content--item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .product-page__content-right .new-price {
        font-size: 22px;
    }

    .product-page__content-right .sale-price {
        font-size: 14px;
    }

    .breadcrumbs ul {
        padding: 30px 25px;
    }

    .product-page .inner {
        padding-top: 20px;
    }

    .product-page__content-right .price {
        margin-bottom: 15px;
        width: 100%;
        justify-content: center;

    }

    .product-page__content-right .tabs-tab {
        padding: 5px 5px 15px 5px;
        font-size: 14px;
        box-sizing: border-box;
    }

    .product-page__content-right .tabs-content__text {
        font-size: 13px;
    }

    .product-page__content-right .price-callback {
        justify-content: center;
    }

    .catalog-page .left-block__item.price input {
        width: 44%;
    }

    .catalog-page .left-block__item.price input:nth-child(2) {
        margin-right: 0;
    }

    .catalog-page .left-block__item.brands .container {
        width: 33%;
    }

    .right-filter__chips a {
        font-size: 13px;
        line-height: 20px;
    }

    .right-filter__alphabet,
    .right-filter__alphabet-letters,
    .right-filter {
        width: 100%;
    }

    /* .right-filter__alphabet-letters {
        overflow-x: scroll;
    } */

    .right-products .item,
    .right-products .item:nth-child(2n),
    .right-products .item:nth-child(3n) {
        width: 100% !important;
        margin-right: 0px;
    }

    /* .right-filter__alphabet-letters {
        flex-wrap: nowrap;
    } */

    .footer-content__bottom .inner {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .cards {
        margin-top: 25px;
        max-width: 100%;
    }


    .advantages-items__content {
        flex-direction: column;
    }

    .advantages-items__content .item {
        width: 100%;
    }
}

@media screen and (max-width:500px) {}

@media screen and (max-width:480px) {

    .header-menu__catalog-popup--items li a {
        font-size: 12px;
    }

    .products-slider__items .item,
    .products-slider__items .item:nth-child(4n),
    .products-slider__items .item:nth-child(3n),
    .header-menu__catalog-popup .item,
    .header-menu__catalog-popup .item:nth-child(4n),
    .header-menu__catalog-popup .item:nth-child(3n) {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .catalog-page .left-block__item.brands .container,
    .catalog-page .left-block__item.categories .container {
        width: 50%;
        font-size: 13px;
    }

    .sales-slider__content .item {
        margin-right: 0;
    }

    .products-slider__items .item img {
        max-width: 100px;
    }

    .products-slider__items .item {
        width: 100% !important;
        margin-right: 0 !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .products-slider__items .item:hover .item-go {
        display: block;
    }

    .products-slider__items .item-go {
        width: 100%;
        display: none;
    }

    .left-block__item .title {
        font-size: 14px;
    }

    .single-page .inner {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .single-page .section-h {
        padding-bottom: 20px;
    }

}

@media screen and (max-width:400px) {

    .header-menu__catalog-popup .item {
        padding: 10px;
    }

    .sales-slider__content .item img,
    .right-products .item img,
    .buywith-slider__content .item img {
        height: 250px;
    }

    .delivery-page__content .price-list .list-item {
        font-size: 13px;
    }

    .delivery-page__content .list-item .price {
        margin-left: auto;
        margin-right: 0px;
    }

    .delivery-page__content .right img {
        width: 75%;
    }

    .catalog-pagination .pages a {
        margin: 0 10px;
    }

    ul.categ {
        width: 100%;
        margin-bottom: 20px;

    }

    .catalog-page .left-block__item.brands .container,
    .catalog-page .left-block__item.categories .container {
        width: 100%;
        font-size: 13px;
    }

}

@media screen and (max-width:360px) {

    .header-menu__catalog-popup .section-h {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .header-menu__catalog-popup--items li {
        width: 100%;
    }

    .callback-btn.contact {
        margin: 0 auto;
        margin-top: 20px;
    }

    .sales-slider__content .item img,
    .right-products .item img,
    .buywith-slider__content .item img {
        height: 225px;
    }
}